.carro_1{
    color: blue;
    background: black;
    padding: 10px;
}
.carro_2{
    color: black;
    background: white;
    padding: 10px;
}
.carro_3{
    color: green;
    background: pink;
    padding: 10px;
}
.carro_4{
    color: purple;
    background: aqua;
    padding: 10px;
}
.carro_5{
    color: pink;
    background: green;
    padding: 10px;
}